
@model cloudscribe.Pagination.Models.PagedResult<Shoes>
@{
    ViewData["Title"] = "Shop";
}




<div class="right-filter-panel">
    <div class="col-12">
        <form asp-action="Shop" method="get">
             <div class="col-10">
                 <h4 class="my-4">Filter By Category</h4>
                <div class="input-group">
                    <select class="form-control rounded" name="filterByCategory" asp-items="ViewBag.CategoryId">
                    <option value="">Select Category..</option>
                </select>
                 </div>
            </div>
            <div class="col-6">
                <h4 class="my-4">Filter By Size</h4>
                <div class="input-group">
                    <select class="form-select" name="filterBySize">
                        <option >Select Size</option>
                        @for (int i = ViewBag.minSize; i <= ViewBag.maxSize; i++)
                        {
                            <option value="@i">@i</option>
                         
                        }


                    </select>
                </div>
            </div>
           
             <div class="col-10">
                 <h4 class="my-4">Filter By Price</h4>
                <div class="input-group">
                    <input type="range" class="form-range" min="@ViewBag.minPrice" max="@ViewBag.maxPrice" value="@ViewBag.avgPrice" id="myRange">
                   
                </div>

                <div class="price_bar">
                    <span class="p1"> @ViewBag.maxPrice</span>
                    <span class="p2"> @ViewBag.minPrice</span>
                </div>
            
                <div class="my-4">
                    <span class="price_val">EGP</span>
                    <span class="price_val" id="demo"></span>
                </div>
      
               
                <input type="hidden" id="demo2" value="0" name="filterByPrice" />

                <div class="input-group">
                    <button type="submit" class="btn btn-outline-primary">
                        <i class="fa fa-filter"></i> Filter</button>
                </div>
                <br/>
                <div class="input-group">
                    <a asp-action="Shop" class="btn btn-outline-success">Clear Filter</a>

                </div>

            </div>

        </form>
    </div>
</div>
@if (!Model.Data.Any())
{
    <div style="min-height: 800px;margin-right:200px;padding:350px 0; display: flex;justify-content: center;">
            @*<img src="~/images/not_found.png" width="500" height="500" alt="result not found" />*@
        <h1 style="color:#E52222;">
            Sorry! No results found ... <i class="fa fa-search" aria-hidden="true"></i>
        </h1>

    </div>
}
else
{
<div class="shop-body">
    <cs-pager cs-paging-pagenumber=(int)Model.PageNumber
              cs-paging-totalitems=(int)Model.TotalItems
              cs-paging-pagesize=(int)Model.PageSize
              asp-route-filterByCategory="@ViewBag.filterByCategory"
              asp-route-filterBySize="@ViewBag.filterBySize"
              cs-pagenumber-param="pageNumber"
              asp-controller="Home"
              asp-action="Shop"
              cs-pager-li-current-class="page-item active"
              cs-pager-li-other-class="page-item"
              cs-pager-li-non-active-class="page-item disabled"
              cs-pager-link-current-class="page-link"
              cs-pager-link-other-class="page-link">

    </cs-pager>
<br/>

    <div class="row">
        @foreach (var item in Model.Data)
        {
            <div class="card text-center m-3 animate" style="width: 18rem; border-radius:18px;border: none;">
                <a asp-action="ShoesDetails" asp-controller="Shoes" asp-route-id="@item.Id" class="a-card">

                <img class="card-img-top" src="~/images//@item.ImageURL" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.ShortDescription</p>
                        <h4 style="color:#F41C1C"><sup style="font-size: 12px;">EGP</sup> @item.Price</h4>
                        <h4><sub style="font-size: 12px;">Size</sub> @item.Size</h4>

                    <p class="text-info">Brand: @item.Category.Name</p>
                </div>
                    @*<input id="shoesId" value="@item.Id" type="number" />*@
                <div class="container m-1">
                        <a href="#" onclick="addToCart(@item.Id)" style="border-radius:16px;" class="btn btn-dark"> <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                         ADD TO CART</a>
                        <a asp-action="ShoesDetails" asp-controller="Shoes" asp-route-id="@item.Id" style="border-radius:16px;" class="btn btn-outline-info">Details</a>
                </div>
                </a>

            </div>
        }

    </div>
    <br />
   
</div>
}
<partial name="_Footer" />
<style>

    .animate{
        transition: all 0.5s;
    }

    .animate:hover{
        transform: scale(1.1);
    }

    .a-card{

       text-decoration: none;
       color: inherit;
    }
    .a-card:hover{
         text-decoration: none;
         color: inherit;
    }

    .shop-body {
        height:100%;
        min-height: 800px;
        margin-left: 100px;
        margin-right: 500px;
        font-size: 18px;
        padding: 25px;
        
    }


    .right-filter-panel {
        float: right;
        border: 2px solid #CFC8C8;
        height: 650px;
        width: 500px;
        position: absolute;
        right: 30px;
        top: 250px;
        padding-top: 40px;
        background-color: #FFFCFC;
        border-radius: 16px;
    }

    .price_bar {
        display: block;
        height: 22px;
        line-height: 22px;
        padding: 4px 6px;
        font-size: 18px;
        margin-bottom: 13px;
        clear: both;
    }

    .price_bar .p1 {
        float: right
    }

    .price_bar .p2 {
        float: left
    }

    .price_val{
        font-size:25px;
        font-weight:bold;
    }
</style>
@section Scripts {
    <script src="~/js/site.js"></script>
    <script>
        carCount();
        function addToCart(shoesId) {

            $.ajax({
                url: `/Carts/AddOneToCart/${shoesId}`,
                type: 'GET',
                success: function (response) {
                   alert(response);
                   

                },
                error: function (error) {
                    alert("error in adding: " + error.statusText);
                   
                    
                }
            });
        }


        var slider = document.getElementById("myRange");
        var output = document.getElementById("demo");
        output.innerHTML = slider.value; // Display the default slider value
       // document.getElementById("demo2").value = slider.value;
        // Update the current slider value (each time you drag the slider handle)

        slider.oninput = function () {
            output.innerHTML = this.value;
            document.getElementById("demo2").value = this.value;

        }

</script>
}