@model IEnumerable<Shoes_shop.Models.Cart>


@if(!Model.Any()){

    <div class="alert alert-warning">
       Cart Is Empty Now!
    </div>
}else{
    <div  class="row">
    <div class="col-lg-12">
    <table class="table" >
        <thead>
            <tr>
          
                <th>
                   Item
                </th>
                <th>
                    Price 
                </th>
                <th>
                    Qunatity 
                </th>
                <th>
                    Total Price
                </th>
                <th></th>
           
         
            </tr>
        </thead>
        <tbody>
            @{
               double totalCartPrice = 0;
            }
            @foreach(var cart in Model){
            <tr >
                <td>
                  <div class="row">
                    <div class="col-4">
                         <img src="~/images/@cart.Shoes.ImageURL" width="150" height="150" alt="shoes_img" />
                    </div>
                   <div class="col-8">
                        <h3 class="card-title">@cart.Shoes.Name</h3>
                        <p class="card-text">@cart.Shoes.ShortDescription</p>
                        <p class="text-danger">Only @cart.Shoes.NumberInStock left in stock - order soon.</p>
                   </div>
                 </div>
                </td>
                    <td><p>EGP @cart.Shoes.Price</p></td>
                <td>
                    <div class="">
                        <span class="btn btn-sm" onclick="decrease('@cart.ShoesId')"> <i class="fa fa-xs fa-minus"></i> </span>
                        <span class="h5" id="cart-qty">@cart.Quntity</span>
                        <span class="btn btn-sm" onclick="increase('@cart.ShoesId')"> <i class="fa fa-xs fa-plus"></i> </span>
                    </div>
                </td>
                    <td><p>EGP @cart.TotalPrice</p></td>
                    <td>

                        <a onclick="removeItem('@cart.ShoesId')"><i style="color:red;font-size:18px" class="fa fa-times-circle" aria-hidden="true"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
</div>


<div hidden id="tcp"> @ViewBag.totalCartPrice </div>

<div >
        <h2 id="totalCartPrice" class="my-2">Subtotal : EGP @ViewBag.totalCartPrice</h2>
        <button type="button" class="btn btn-warning col-6 my-3" data-toggle="modal" data-target="#exampleModal" style="border-radius:20px;height:50px">
            Proceed to Buy
        </button>

        <a class="btn btn-danger col-6"  onclick="clearCart()" style="border-radius:20px;height:50px"><i class="fa fa-trash"></i> Clear Cart</a>
</div>


<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm Order</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
            <li>
                <p>Shipping is free, but if the order is returned, you will paid EGP 30. </p>
            </li>
            <li>
                <p>Donot pay the order to the delivery before reviewing it and receive the invoice.</p>
            </li>
            <li>
                <p>In the event of a complaint, contact us.</p>
            </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a asp-action="ToOrder" class="btn btn-warning">Yes, Confirm</a>
      </div>
    </div>
  </div>
</div>
<!--End Modal-->
}

