@model cloudscribe.Pagination.Models.PagedResult<Category>

@{
    ViewData["Title"] = "Categories";
}

<h1>Manage Categories</h1>
<hr />
<div class="text-white">
    <a href="@Url.Action("Create")" class="btn btn-outline-dark" style="border-radius: 25px;">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Add New Category
</a>
<br />
</div>
@if(!Model.Data.Any()){

    <div class="alert alert-warning">
        No category of added yet!
    </div>
}else{

    <table class="table my-3">
        <thead>
            <tr>
                <th>Ctegory Name</th>
                <th>Category Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model.Data)
            {
                <tr>
                    <td>@category.Name</td>
                    <td>@category.Description</td>

                    <td>
                        <a href="@Url.Action("Edit", "Categories", new { id = category.Id })" class="btn btn-outline-primary" style="border-radius: 25px;">
                            <i class="fa fa-edit"></i> Edit
                        </a>

                        <a href="@Url.Action("Details", "Categories", new { id = category.Id })" class="btn btn-outline-success" style="border-radius: 25px;">
                            <i class="fa fa-info-circle" aria-hidden="true"></i> Details
                        </a>
                        <a href="@Url.Action("Delete", "Categories", new { id = category.Id })" class="btn btn-outline-danger" style="border-radius: 25px;">
                            <i class="fa fa-trash" aria-hidden="true"></i> Delete
                        </a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
    }
<hr />

<cs-pager cs-paging-pagenumber=(int)Model.PageNumber
          cs-paging-totalitems=(int)Model.TotalItems
          cs-paging-pagesize=(int)Model.PageSize
          cs-pagenumber-param="pageNumber"
          asp-controller="Categories"
          asp-action="Index"
          cs-pager-li-current-class="page-item active"
          cs-pager-li-other-class="page-item"
          cs-pager-li-non-active-class="page-item disabled"
          cs-pager-link-current-class="page-link"
          cs-pager-link-other-class="page-link">

</cs-pager>