@model IEnumerable<Shoes_shop.Models.OrderDetail>


@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/css/orders.css" type="text/css">

<div class="container">
    <div class="m-4">
        <table class="table">
            <thead>
                <tr>
                    <th>Image</th>
                    <th> Name </th>
                    <th>Description</th>
                    <th> Quantity</th>
                    <th> Price</th>
                    
                </tr>
            </thead>
            @{
                double orderTotal = 0;
            }
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><img src="~/images/@item.Shoes.ImageURL" alt="shoes_img" width="150" height="150"/></td>
                        <td> @item.Shoes.Name </td>
                        <td> @item.Shoes.ShortDescription</td>
                        <td> @item.Quantity</td>
                        <td> EGP @item.Shoes.Price</td>
                    </tr>
                    orderTotal += item.Shoes.Price * item.Quantity;
                }

            </tbody>

           
            
        </table>
        <h4>Order Total Price : EGP @orderTotal</h4>
    </div>

    <button class="btn-secondary back-btn" onclick="backtoallorders()">Back to orders</button>

</div>
