@model IEnumerable<Shoes_shop.Models.Order>

@{
    ViewData["Title"] = "My Orders";
}
<div class="user-body">
<h1><i class="fa fa-first-order" aria-hidden="true"></i> Orders</h1>
<hr />
@if(!Model.Any()){

    <div class="alert alert-warning">
       Orders Is Empty Now!
    </div>
}else{

    @foreach (var order in Model)
    {
      <div class="card my-3" style=" border-radius: 14px;background-color:#FEFAFA;">
                <h5 class="card-header h3" style="background-color:#342E2E;color:#fff;">Order Number: @order.Id</h5>
        <div class="card-body">

         <div class="row">
                <div class="form-group col-3">
                    <label class="h4">Created At</label>
                    <input class="h4" asp-for="@order.dateTime" type="text" readonly />
                </div>
                <div class="form-group col-6">
                    <label class="h4">Shipping Address</label>
                    <input class="h4" asp-for="@order.ShippingAddress" type="text" readonly />
                </div>
                <div class="form-group col-3">
                    <label class="h4">Contact Dial</label>
                    <input class="h4" asp-for="@order.Contact" type="text" readonly />
                </div>
                <div class="my-2">

                  <a href="@Url.Action("EdieShipping", "Orders", new { id = @order.Id })" class="btn btn-dark col-3" style="border-radius:25px;font-size:24px;">Edit Shipping</a>
                 </div>
        </div>
                    <div class="row">
                        <div class="col-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            Item
                                        </th>
                                        <th>
                                            Price
                                        </th>
                                        <th>
                                            Qunatity
                                        </th>
                                        <th>
                                            Total Price
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        double totalItemPrice = 0;
                                    }
                                    @foreach (var i in order.OrderDetails)
                                    {
                                        <tr>
                                            <td>
                                                <div class="row">
                                                    <div class="col-4">
                                                        <img src="~/images/@i.Shoes.ImageURL" width="100" height="100" alt="shoes_img" />
                                                    </div>
                                                    <div class="col-8">
                                                        <h3 class="card-title"> @i.Shoes.Name</h3>
                                                        <p class="card-text">@i.Shoes.ShortDescription</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td><p>EGP @i.Shoes.Price</p></td>

                                            <td><p>@i.Quantity </p></td>
                                            @{
                                                totalItemPrice = i.Quantity * i.Shoes.Price;
                                            }
                                            <td><p>EGP @totalItemPrice</p></td>
                                          
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="my-3">
                        <h1 class="card-text">Total Order Price: EGP @order.TotalPrice</h1>

                    </div>
                @*shipping info*@                   
                    <ul >
                        <li>
                            <p>Shipping is free, but if the order is returned, you will paid EGP 30. </p>
                        </li>
                        <li>
                            <p>Donot pay the order to the delivery before reviewing it and receive the invoice.</p>

                        </li>
                        <li>
                            <p>In the event of a complaint, contact us.</p>
                        </li>

                    </ul>
                  

        
            @{
                    // change css class in case order is confirming and shipped
                    string OrderIsProcessingDone = "progtrckr-done";
                    string OrderIsConfirm = "progtrckr-todo";
                    string OrderIsShippedAndPay = "progtrckr-todo";

                    if(order.IsConfirmed && !order.IsShippedAndPay){
                        OrderIsConfirm = "progtrckr-done";
                    }
                    if(order.IsShippedAndPay && order.IsConfirmed){
                        OrderIsShippedAndPay = "progtrckr-done";
                        OrderIsConfirm = "progtrckr-done";
                    }
                    //progtrckr-todo
                    //progtrckr-notdone
            }
            <div class="my-5 text-center">
                    <ol class="progtrckr" data-progtrckr-steps="4">
                        <li class="@OrderIsProcessingDone">Order Processing</li>

                        <li class="@OrderIsConfirm"> Order Confirming</li>

                        <li class="@OrderIsShippedAndPay">Shipped & Pay</li>
                    </ol>
            </div>

        </div>
    </div>

    }

}

</div>
<partial name="_Footer" />
<style>
    ol.progtrckr {
        margin: 0;
        padding: 0;
        list-style-type none;
    }

        ol.progtrckr li {
            display: inline-block;
            text-align: center;
            line-height: 3.5em;
        }

        ol.progtrckr[data-progtrckr-steps="2"] li {
            width: 49%;
        }

        ol.progtrckr[data-progtrckr-steps="3"] li {
            width: 33%;
        }

        ol.progtrckr[data-progtrckr-steps="4"] li {
            width: 24%;
        }

        ol.progtrckr[data-progtrckr-steps="5"] li {
            width: 19%;
        }

        ol.progtrckr[data-progtrckr-steps="6"] li {
            width: 16%;
        }

        ol.progtrckr li.progtrckr-done {
            color: black;
            border-bottom: 4px solid cornflowerblue;
        }
          ol.progtrckr li.progtrckr-notdone {
            color: black;
            border-bottom: 4px solid red;
        }

        ol.progtrckr li.progtrckr-todo {
            color: silver;
            border-bottom: 4px solid silver;
        }

        ol.progtrckr li:after {
            content: "\00a0\00a0";
        }

        ol.progtrckr li:before {
            position: relative;
            bottom: -2.5em;
            float: left;
            left: 50%;
            line-height: 1em;
        }

        ol.progtrckr li.progtrckr-done:before {
            content: "\2713";
            color: white;
            background-color: cornflowerblue;
            height: 2.2em;
            width: 2.2em;
            line-height: 2.2em;
            border: none;
            border-radius: 2.2em;
        }
         ol.progtrckr li.progtrckr-notdone:before {
            content: "\2717";
            color: white;
            background-color: red;
            height: 2.2em;
            width: 2.2em;
            line-height: 2.2em;
            border: none;
            border-radius: 2.2em;
        }

        ol.progtrckr li.progtrckr-todo:before {
            content: "\039F";
            color: silver;
            background-color: white;
            font-size: 2.2em;
            bottom: -1.2em;
        }

</style>


