@model IEnumerable<Shoes_shop.Models.Order> 


@{
    ViewData["Title"] = "All User's Order";
}

<h2>Orders Waiting For Confirmation</h2>
<hr/>

 
<br />
@if(!Model.Any()){

    <div class="alert alert-warning">
        No Orders under revision yet, check confiermed order or shipped and pay order!
    </div>
}
else{
<div class="content mt-8">

        @*<partial name="ConfirmedOrders" model="@Model" />*@
    <table class="table">
    <thead>
        <tr>
             <th>
                Order No.
            </th>
            <th>
                User Name
            </th>
            <th>
                Gender
            </th>
            <th>
                Added At
            </th>
           
            <th>
              Shipping Address
            </th>
            <th>
               Contact Number
            </th>
            <th>
                Total Price
            </th>
            <th>
                Confirmed
            </th>
            <th>
                Shipped & Pay
            </th>
            <th >
                Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td class="align-middle">
               @item.Id
            </td>
            <td class="align-middle">
                @item.User.FullName
            </td>
            <td class="align-middle">
                @item.User.Gender
            </td>
             <td class="align-middle">
                @item.dateTime
            </td>
            
            <td class="align-middle"  style=" max-width: 120px;">
                @item.ShippingAddress
            </td>

          
            <td class="align-middle">
                @item.Contact
            </td>
            <td class="align-middle">
                EGP @item.TotalPrice
            </td>
           
                @if(!item.IsConfirmed){
                  <td class="align-middle">
                     <p style="background-color:#80E223;text-align:center;color:#fff;border:1px solid #4B9306;border-radius:16px;">Waiting</p>
                  </td>
                }else{
                  <td class="align-middle">
                     <p style="background-color:#079AEF;text-align:center;color:#fff;border:1px solid #036BA7;border-radius:16px;">Done</p>
                  </td>
                }
          
                @if (!item.IsShippedAndPay){
                <td class="align-middle">
                    <p style="background-color:#80E223;text-align:center;color:#fff;border:1px solid #4B9306;border-radius:16px;">Waiting</p>
                </td>
                }else{
                <td class="align-middle">
                    <p style="background-color:#079AEF;text-align:center;color:#fff;border:1px solid #036BA7;border-radius:16px;">Done</p>
                </td>
                }

            <td >
                <a class="btn btn-outline-success" asp-action="OrderDetails" asp-route-id="@item.Id"
                       style="border-radius:25px;"><i class="fa fa-info-circle" aria-hidden="true"></i>  Details</a>

            </td>
        </tr>
}
    </tbody>
</table>
</div>
}