@model IEnumerable<Shoes_shop.Models.Order>


@{
    ViewData["Title"] = "Order Reports";
}

<h2>Shipped And Pay Order Reports</h2>
<hr />
@*start button*@


@{
    Html.BeginForm("CreateDocument", "OrderAdmin", FormMethod.Get);
    {
        <div>

            <input type="submit" value="Generate pdf report" class="btn btn-dark" style="border-radius: 25px;" />
        </div>
    }
    Html.EndForm();
}
@*end button*@

<br />
@if (!Model.Any())
{

    <div class="alert alert-warning">
        No Orders Reports Yet!
    </div>
}
else
{
    <div class="content mt-8">

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Order No.
                    </th>
                    <th>
                        User Name
                    </th>
                    <th>
                        Gender
                    </th>
                    <th>
                        Added At
                    </th>

                    <th>
                        Shipping Address
                    </th>
                    <th>
                        Contact Number
                    </th>
                    <th>
                        Total Price
                    </th>
                    <th>Order Details</th>
                    <th>
                      
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            @item.Id
                        </td>
                        <td class="align-middle">
                            @item.User.FullName
                        </td>
                        <td class="align-middle">
                            @item.User.Gender
                        </td>
                        <td class="align-middle">
                            @item.dateTime
                        </td>

                        <td class="align-middle" style=" max-width: 120px;">
                            @item.ShippingAddress
                        </td>


                        <td class="align-middle">
                            @item.Contact
                        </td>
                        <td class="align-middle">
                            EGP @item.TotalPrice
                        </td>
                        <td>
                            <table>
                                <thead>
                                    <tr>
                                    <th>Name</th>
                                    <th>Qty</th>
                                    <th>Price</th>
                                    <th>Image</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    @foreach (var i in item.OrderDetails)
                                    {
                                    <tr>
                                            <td ><p>@i.Shoes.Name</p></td>
                                            <td> <p>@i.Quantity</p></td>
                                            <td> <p>@i.Shoes.Price</p></td>
                                            <td><img src="~/images/@i.Shoes.ImageURL" width="50" height="50"></td>
                                    </tr>
                                    }
                                </tbody>
                            </table>

                        </td>
                       
                    </tr>
                }
            </tbody>
        </table>
    </div>
}