@using Shoes_shop.ViewModels
@model ShoesViewModel

@if(Model == null){
<p class="text-center text-danger">No Related Shoes</p>
}else{

    <div class="card text-center col-3 mr-0" style="width: 18rem;">
        <img src="~/images/@Model.ImageURL" class="card-img-top" alt="related_shoes">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">@Model.ShortDescription</p>
            <h6 class="card-text">EGP @Model.Price</h6>
            @if (@Model.NumberInStock == 0)
            {
                <p class="text-danger">Not avalilable now!</p>
            }else{
                <p class="text-danger">Avalilable: @Model.NumberInStock</p>
            }
        </div>
        <div class="card-footer bg-light">
                <a asp-controller="Shoes" asp-action="ShoesDetails" asp-route-id="@Model.Id" class="btn btn-primary">More Details</a>

            </div>
    </div>

}