@model cloudscribe.Pagination.Models.PagedResult<Shoes>

@{
    ViewData["Title"] = "Shoes List";
}


<h1>Shoes List</h1>
<hr/>
<div class="text-white">
     <a href="@Url.Action("Create")"  class="btn btn-outline-dark" style="border-radius: 25px;">  
          <i class="fa fa-plus" aria-hidden="true"></i>

         Add New Shoes
     </a>
 
</div><br />
@if(!Model.Data.Any()){

    <div class="alert alert-warning">
        No category of added yet!
    </div>
}else{
<h6>Total Shoes Count: @ViewBag.ShoesCount</h6>
<div class="content mt-8">

    <table class="table">
    <thead>
        <tr>
             <th>
                Image
            </th>
            <th>
                Shoes Name
            </th>
            <th>
                Category
            </th>
            <th>
               Short Description
            </th>
            <th>
               Shoes Size
            </th>
            <th>
                Price (L.E)
            </th>
            <th>
                No. In Stock
            </th>
       
            
            <th >
                Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Data) {
        <tr>
            <td class="align-middle">
               <img src="~/images/@item.ImageURL" class="img_zoom"/>
            </td>
            <td class="align-middle"  style=" max-width: 120px;">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
           <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td class="align-middle" style=" max-width: 10px;">

                @Html.DisplayFor(modelItem => item.ShortDescription)
            </td >
             <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.NumberInStock)
            </td class="align-middle">
            
          
            <td >
                <a class="btn btn-outline-primary" style="border-radius: 25px;" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i> Edit</a>
                <a class="btn btn-outline-success" style="border-radius: 25px;"  asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-info-circle" aria-hidden="true"></i> Details</a> 
                <a class="btn btn-outline-danger" style="border-radius: 25px;" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>

            </td>
        </tr>
}
    </tbody>
</table>
   
</div>
}
<hr />

 <cs-pager 
        cs-paging-pagenumber=(int)Model.PageNumber
        cs-paging-totalitems=(int)Model.TotalItems
        cs-paging-pagesize=(int)Model.PageSize
        cs-pagenumber-param="pageNumber"
        asp-controller="Shoes"
        asp-action="Index"
        cs-pager-li-current-class="page-item active"
        cs-pager-li-other-class="page-item"
        cs-pager-li-non-active-class="page-item disabled"
        cs-pager-link-current-class="page-link"
        cs-pager-link-other-class="page-link">

 </cs-pager>
