@using Shoes_shop.ViewModels
@model ShoesViewModel
@{
    ViewData["Title"] = Model.Name;
}


<section class="spad">
    @if (TempData["message"] != null)
    {
        <div class="alert alert-info">
            @TempData["message"]
        </div>
    }

   <div class="container mt-5">
        <div class="row">
            <div class="col-6">
                <img class="zoom" src="~/images/@Model.ImageURL" alt="shoes_img" width="500" height="500" />
            </div>
            <div class="col-6">
                <p class="text-info">Brand: @Model.category.Name</p>
                <h1 class="font-weight-bold">@Model.Name</h1>
                <hr />
                <h1 class="my-3 font-weight-bold"><sup style="font-size: 18px;">EGP</sup> @Model.Price</h1>
                <p class="my-4">@Model.ShortDescription</p>
                <h5 class="my-4">Size : @Model.Size</h5>
                @if (@Model.NumberInStock == 0)
                {
                    <h5 class="text-danger my-4">Not Available now!</h5>
                }
                else
                {
                    <h6 class="font-weight-bold my-4">Available : @Model.NumberInStock pieces</h6>
                }
                <div class="my-3">
                    <form asp-controller="Carts" asp-action="AddToCart">
                        <input asp-for="@Model.Quantity" class="col-2 form-control" required/>
                        <input asp-for="@Model.Id" type="hidden"/>

                        <h6 class="my-4">&<span class="text-info">FREE Returns</span>, All prices include VAT.</h6>
                            <input type="submit" value="ADD TO CART" class="btn btn-dark col-12" style="border-radius:25px;height:60px" />
                    </form>
                </div>
            </div>
            </div>
    </div>


    <hr />
     
</section>

<style>
    .zoom {
      padding: 50px;
      transition: transform .2s;
      width: 500px;
      height: 500px;
      margin: 0 auto;
    }

    .zoom:hover {
      -ms-transform: scale(1.4); /* IE 9 */
      -webkit-transform: scale(1.4); /* Safari 3-8 */
      transform: scale(1.4);
    }
</style>