@using Shoes_shop.ViewModels
@model ShoesViewModel



<section class="product-details spad">
    <div class="container">
        <h1>@Model.Name</h1>
        <h2>@Model.Price L.E</h2>
        <p>@Model.Description</p>
        <h3>available : @Model.NumberInStock</h3>
    </div>
    <form asp-controller="Carts" asp-action="AddToCart">
        <input asp-for="Id" readonly/>
        <input asp-for="Quantity" />
        <input type="submit" value="Add to Cart" class="btn btn-success" />

    </form>
    <img src="~/images/@Model.ImageURL" alt="shoes_image">
       <dive>
           <h3>Related Shoeses</h3>
           
        @foreach (var item in   ViewBag.RelatedShoes)
        {
            <partial name="_ShoesItem" model="@item" />
        }
       </div>
</section>



@if (TempData["message"] != null)
{
    <script>
        alert("@TempData["message"]");
    </script>
}