@using Shoes_shop.ViewModels
@model ShoesViewModel
@{
    ViewData["Title"] = Model.Name;
}


<section class="spad">
    @if (TempData["message"] != null)
    {
        <div class="alert alert-info">
            @TempData["message"]
        </div>
    }

   <div class="user-body">
       <div class="col-12">
        <div class="row">
            <div class="col-6">
                <img class="zoom" src="~/images/@Model.ImageURL" alt="shoes_img" width="500" height="500" />
            </div>
            <div class="col-6">
                <p class="text-info">Brand: @Model.category.Name</p>
                <h1 class="font-weight-bold">@Model.Name</h1>
                <hr />
                    <h1 style="color:#F41C1C" class="my-4 font-weight-bold"><sup style="font-size: 18px;">EGP</sup> @Model.Price</h1>
                <p class="my-5">@Model.ShortDescription</p>
                <h4 class="my-5">Size : @Model.Size</h4>
                @if (@Model.NumberInStock == 0)
                {
                    <h5 class="text-danger my-4">Not Available now!</h5>
                }
                else
                {
                    <h5 class="font-weight-bold my-4">Available : @Model.NumberInStock pieces</h5>
                }
                <div class="my-4">
                    <form asp-controller="Carts" asp-action="AddToCart">
                        <input asp-for="@Model.Quantity" class="col-1 form-control" required/>
                        <input asp-for="@Model.Id" type="hidden"/>

                        <h5 class="my-4">&<span class="text-info">FREE Returns</span>, All prices include VAT.</h5>
                            <input type="submit" value="ADD TO CART" class="btn btn-dark col-8 my-4" style="border-radius:25px;height:60px" />
                    </form>
                </div>
            </div>
            </div>
    </div>

    </div>

     
</section>

<partial name="_Footer" />

<style>
    .zoom {
      padding: 50px;
      width: 800px;
      height: 700px;
      margin: 0 auto;
    }

   
</style>